<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h2 class="display-4">Post # <%=Post.find(params[:id]).id%></h2>
</div>

<div class="container">
	<div class="alert alert-dark" role="alert"> 
		<%=Post.find(params[:id]).post%> <hr/>
		By: <strong><i><%= Post.find(params[:id]).author%></i></strong> on: <%=Post.find(params[:id]).created_at%> <br/>
	</div> 
</div>	

<div class="container">
	<h4>Comments:</h4>
<div class="container">
	<% Post.find(params[:id]).comments.each do |comment| %>
		<div class="alert alert-info"> 
			<%= comment['comment'] %> <hr/>
			By: <strong><i><%= comment['author'] %></i></strong> on: <%= comment['created_at'] %> <br/>
		</div> 
	<% end %>
	</div>
</div>	

<div class="container">
	<h5>Add new one for # <%=Post.find(params[:id]).id%></h5>
	<p>
		<form action="/post/<%=Post.find(params[:id]).id%>" method="POST">
			<div class="form-group">
				<input name="comment[author]" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nickname:">
			</div>
			<div class="form-group">
				<textarea name="comment[comment]" rows="9" class="form-control" placeholder="Add comment here:"></textarea>
			</div>	
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Comment</button>
			</div>
		</form>
	</p>
</div>
